body {
	background-color: white;
}

div#wrapper {
  display: relative;
  justify-content: center;
  margin-top: 15%;
}

h1, p {
	text-align: center;
	padding:0 5%;
	font-family: "Atma", system-ui;
	font-weight: 500;
	font-style: normal;
  font-size: 600%;
}
